<ion-header>
  <ion-toolbar>
    <ion-title>Send OTP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="showsend">
    <form (ngSubmit)="sendOTP()">
      <ion-grid>
        <ion-row>
          <ion-col size="12" offset="0">

            <ion-item>
              <ion-label for="phonenumber">Phone Number:</ion-label>
              <ion-input type="text" [(ngModel)]="sendOtp.phonenumber" name="phonenumber" placeholder="01XXXXXXXXX"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" type="submit">
              <ion-ripple-effect></ion-ripple-effect>
              Send OTP
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
    </ion-card>


    <ion-card *ngIf="showsubmit">
      <form (ngSubmit)="submitOTP()">
        <ion-grid>
          <ion-row>
            <ion-col size="12" offset="0">
  
              <ion-item>
                <ion-label for="otp">OTP:</ion-label>
                <ion-input type="text" [(ngModel)]="sendOtp.otp" name="OTP" placeholder="XXXX"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" type="submit">
                <ion-ripple-effect></ion-ripple-effect>
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
  
        </ion-grid>
      </form>
      </ion-card>

      <ion-card *ngIf="showResetForm">
        <form [formGroup]="changePassForm" >
          <ion-grid >
            <ion-card style="padding: 2mm;">
            <ion-label>New Password</ion-label>
            <ion-row>
              <ion-col col-12>
                <ion-input type="password" formControlName="newPassword" [(ngModel)]="changePassword.newPassword" placeholder="Type new password" ></ion-input>
              </ion-col>
            </ion-row>
            <ion-item no-lines *ngIf="(changePassForm.get('newPassword').hasError('required')  ||
            changePassForm.get('newPassword').hasError('minlength') ||
            changePassForm.get('newPassword').hasError('maxlength')) && changePassForm.get('newPassword').touched">         
              <div class="error" *ngIf="changePassForm.get('newPassword').hasError('required')">
                New  password is required
              </div>
              <br>
              <div class="error" *ngIf="changePassForm.get('newPassword').hasError('minlength')">
                Password must be at least 8 characters long.
              </div>
              <br>
              <div class="error" *ngIf="changePassForm.get('newPassword').hasError('maxlength')">
                Password can be at most 30 characters long.
              </div>
            </ion-item>
          
            <ion-label>Confirm Password</ion-label>
            <ion-row>
              <ion-col col-12>
                <ion-input type="password" formControlName="confirmPassword" [(ngModel)]="changePassword.confirmPassword" placeholder="Type confirm password" ></ion-input>
              </ion-col>
            </ion-row>
            <ion-item no-lines *ngIf="(changePassForm.get('confirmPassword').hasError('required') ||
            changePassForm.get('confirmPassword').hasError('minlength') ||
            changePassForm.get('confirmPassword').hasError('maxlength')||
            changePassForm.hasError('passwordNotMatch')) && changePassForm.get('confirmPassword').touched">         
              <div class="error" *ngIf="changePassForm.get('confirmPassword').hasError('required')">
                Confirm password is required.
              </div>
              <br>
              <div class="error" *ngIf="changePassForm.get('confirmPassword').hasError('minlength')">
                Password must be at least 8 characters long.
              </div>
              <br>
              <div class="error" *ngIf="changePassForm.get('confirmPassword').hasError('maxlength')">
                Password can be at most 30 characters long.
              </div>
              <br>
              <div class="error" *ngIf="changePassForm.hasError('passwordNotMatch')">
                Passwords don't match.
              </div>
            </ion-item>
            <ion-button expand="block" [disabled]="!changePassForm.valid" (click)="resetPass()">
              Change Password
            </ion-button>
          </ion-card>
          </ion-grid>
          
          
          </form>
          
        </ion-card>
</ion-content>
