
// ion-content{

//     --ion-background-color: #ABEBC6 ;
//   }

.blink_me {
    animation: blinker 1s infinite;
    animation-iteration-count: 3;
    // background-color: rgb(225, 255, 56);
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }